.grid_container {
    display: grid;
    gap: 2px;
    padding: 2px;
    /* border: 1px solid red; */
}

.grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

.grid_item1 {
    grid-column: 1;
    grid-row: 1 / span 1;
    margin-top: 80px;
    height: auto;

}

.grid_item2 {
    grid-column: 2 / span 2;
    grid-row: 1;
    /* border: 1px solid red; */
}

/* @media all and (min-width:451px) and (max-width:750px) {
    .grid_item1 {
        display: none;
    }
} */
@media all and (min-width:100px) and (max-width:450px){
    .grid_item1 {
        display: none;
    }
    
}